<div
    class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"
>
    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b"
    >
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">
            Historial médico
        </div>
        <!-- Title -->

        <!-- Button -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <mat-form-field
                class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64"
            >
                <mat-select
                    (selectionChange)="onPatientSelected($event)"
                    (openedChange)="patientsFilterControl.onClearFilter()"
                >
                    <select-filter
                        #patientsFilterControl
                        placeholderLabel="Buscar..."
                        (searchValueOutput)="onFilterPatients($event)"
                    ></select-filter>

                    <mat-option
                        disabled
                        *ngIf="!isLoadingPatients && !patients?.length"
                    >
                        No existen resultados
                    </mat-option>

                    <mat-option
                        *ngFor="let p of patients"
                        [value]="p?.displayName"
                    >
                        {{ p?.displayName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                [routerLink]="['/paciente/historial', 'nueva-cita']"
            >
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Nueva cita</span>
            </button>
        </div>
        <!-- /Button -->
    </div>
    <!-- /Header -->

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <div
            class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto"
        >
            <history-log></history-log>
        </div>
    </div>
    <!-- /Main -->
</div>
