<div class="flex flex-col flex-auto min-w-0">
    <!-- MAIN -->
    <div class="flex flex-col flex-auto items-center p-6 sm:p-10">
        <div class="flex flex-col w-full max-w-4xl">
            <!-- BACK -->
            <div class="-ml-4 sm:mt-8">
                <a
                    mat-button
                    [routerLink]="['/paciente/historial']"
                    [color]="'primary'"
                >
                    <mat-icon
                        [svgIcon]="'heroicons_outline:arrow-narrow-left'"
                    ></mat-icon>
                    <span class="ml-2">Volver</span>
                </a>
            </div>
            <!-- /BACK -->

            <!-- TITLE -->
            <div
                class="mt-2 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight"
            >
                {{
                    !history?.identificator
                        ? "Nueva cita"
                        : "Cita No. #" + history?.identificator
                }}
            </div>
            <!-- /TITLE -->

            <!-- FORM -->
            <div
                class="mt-8 sm:mt-12 p-6 pb-7 sm:p-10 sm:pb-7 shadow rounded-2xl bg-card"
            >
                <form name="Form" class="space-y-3" [formGroup]="Form">
                    <!-- DETAILS -->
                    <div class="mb-6">
                        <div class="text-2xl font-bold tracking-tight">
                            {{
                                (!history?.visitedAt
                                    ? currentDate
                                    : history?.visitedAt
                                ) | date : "dd/MM/yyyy"
                            }}
                        </div>
                        <div class="text-secondary">
                            Revisado por:
                            <strong>{{
                                !history?.doctor
                                    ? doctor?.name
                                    : history?.doctor?.displayName
                            }}</strong>
                        </div>
                    </div>
                    <!-- /DETAILS -->

                    <!-- DIAGNOSIS -->
                    <mat-form-field class="w-full">
                        <input
                            matInput
                            [required]="true"
                            formControlName="diagnosis"
                            [maxlength]="maxLengthDiagnosis"
                        />
                        <mat-label>Diagnosis</mat-label>
                        <mat-error
                            *ngIf="Form.get('diagnosis').hasError('required')"
                        >
                            Campo requerido.
                        </mat-error>
                    </mat-form-field>
                    <!-- DIAGNOSIS -->

                    <!-- PATIENT -->
                    <mat-form-field *ngIf="isNewHistory" class="w-full">
                        <mat-label>Paciente</mat-label>
                        <mat-select
                            [required]="true"
                            formControlName="userId"
                            (openedChange)="
                                patientsFilterControl.onClearFilter()
                            "
                        >
                            <select-filter
                                #patientsFilterControl
                                placeholderLabel="Buscar..."
                                (searchValueOutput)="onFilterPatients($event)"
                            ></select-filter>

                            <mat-option
                                disabled
                                *ngIf="!isLoadingPatients && !patients?.length"
                            >
                                No existen resultados
                            </mat-option>

                            <mat-option
                                *ngFor="let p of patients"
                                [value]="p?.id"
                            >
                                {{ p?.displayName }}
                            </mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="Form.get('userId').hasError('required')"
                        >
                            Campo requerido.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field *ngIf="!isNewHistory" class="w-full">
                        <input
                            matInput
                            [required]="true"
                            formControlName="userId"
                        />
                        <mat-label>Paciente</mat-label>
                    </mat-form-field>
                    <!-- /PATIENT -->

                    <!-- MEDICINES -->
                    <mat-form-field *ngIf="isNewHistory" class="w-full">
                        <mat-label>Medicinas</mat-label>
                        <mat-select
                            [multiple]="true"
                            formControlName="medicineIds"
                            (openedChange)="
                                medicinesFilterControl.onClearFilter()
                            "
                            (selectionChange)="onSelectionChange($event.value)"
                        >
                            <select-filter
                                #medicinesFilterControl
                                placeholderLabel="Buscar..."
                                (searchValueOutput)="onFilterMedicines($event)"
                            ></select-filter>

                            <mat-option
                                disabled
                                *ngIf="
                                    !isLoadingMedicines && !medicaments?.length
                                "
                            >
                                No existen resultados
                            </mat-option>

                            <mat-option
                                [value]="m?.id"
                                *ngFor="let m of medicaments"
                                [selected]="selectedMedicines.includes(m?.id)"
                            >
                                {{ m?.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field *ngIf="!isNewHistory" class="w-full">
                        <mat-label>Medicinas</mat-label>
                        <mat-select
                            [multiple]="true"
                            formControlName="medicineIds"
                        >
                            <mat-option
                                [value]="m?.id"
                                *ngFor="let m of medicaments"
                                [selected]="selectedMedicines.includes(m?.id)"
                            >
                                {{ m?.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- /MEDICINES -->

                    <!-- VACCINES -->
                    <mat-form-field *ngIf="isNewHistory" class="w-full">
                        <mat-label>Vacunas</mat-label>
                        <mat-select
                            [multiple]="true"
                            formControlName="vaccineIds"
                            (openedChange)="
                                vaccinesFilterControl.onClearFilter()
                            "
                            (selectionChange)="onVaccineChange($event.value)"
                        >
                            <select-filter
                                #vaccinesFilterControl
                                placeholderLabel="Buscar..."
                                (searchValueOutput)="onFilterVaccines($event)"
                            ></select-filter>

                            <mat-option
                                disabled
                                *ngIf="!isLoadingVaccines && !vaccines?.length"
                            >
                                No existen resultados
                            </mat-option>

                            <mat-option
                                [value]="v?.id"
                                *ngFor="let v of vaccines"
                                [selected]="selectedVaccines.includes(v?.id)"
                            >
                                {{ v?.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field *ngIf="!isNewHistory" class="w-full">
                        <mat-label>Vacunas</mat-label>
                        <mat-select
                            [multiple]="true"
                            formControlName="vaccineIds"
                        >
                            <mat-option
                                [value]="v?.id"
                                *ngFor="let v of vaccines"
                                [selected]="selectedVaccines.includes(v?.id)"
                            >
                                {{ v?.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- /VACCINES -->

                    <!-- TREATMENT -->
                    <mat-form-field class="fuse-mat-textarea w-full">
                        <textarea
                            matInput
                            [rows]="5"
                            [required]="true"
                            matTextareaAutosize
                            formControlName="treatment"
                            [maxlength]="maxLengthTreatment"
                        ></textarea>
                        <mat-label>Descripción médica</mat-label>
                        <mat-error
                            *ngIf="Form.get('treatment').hasError('required')"
                        >
                            Campo requerido.
                        </mat-error>
                    </mat-form-field>
                    <!-- /TREATMENT -->

                    <!-- NOTES -->
                    <mat-form-field class="fuse-mat-textarea w-full">
                        <textarea
                            #notes
                            matInput
                            [rows]="5"
                            [required]="true"
                            matTextareaAutosize
                            formControlName="notes"
                            [maxlength]="maxLengthNotes"
                        ></textarea>
                        <mat-label>Notas adicionales</mat-label>
                        <mat-error
                            *ngIf="Form.get('notes').hasError('required')"
                        >
                            Campo requerido.
                        </mat-error>
                    </mat-form-field>
                    <!-- /NOTES -->

                    <!-- BUTTONS -->
                    <div class="flex items-center justify-end">
                        <button
                            class="ml-2"
                            mat-flat-button
                            [color]="'primary'"
                            *ngIf="isNewHistory"
                            (click)="onRegister()"
                            [disabled]="Form.invalid || Form.pristine"
                        >
                            Registrar cita
                        </button>
                    </div>
                    <!-- /BUTTONS -->
                </form>
            </div>
            <!-- /FORM -->
        </div>
    </div>
    <!-- /MAIN -->
</div>
