<div class="flex flex-col flex-auto min-w-0">
    <!-- MAIN -->
    <div class="flex flex-col flex-auto items-center p-6 sm:p-10">
        <div class="flex flex-col w-full max-w-4xl">
            <!-- BACK -->
            <div class="-ml-4 sm:mt-8">
                <a mat-button [routerLink]="['../']" [color]="'primary'">
                    <mat-icon
                        [svgIcon]="'heroicons_outline:arrow-narrow-left'"
                    ></mat-icon>
                    <span class="ml-2">Volver</span>
                </a>
            </div>
            <!-- /BACK -->

            <!-- TITLE -->
            <div
                class="mt-2 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight"
            >
                Nueva cita
            </div>
            <!-- /TITLE -->

            <!-- FORM -->
            <div
                class="mt-8 sm:mt-12 p-6 pb-7 sm:p-10 sm:pb-7 shadow rounded-2xl bg-card"
            >
                <form class="space-y-3" #supportNgForm="ngForm">
                    <!-- DETAILS -->
                    <div class="mb-6">
                        <div class="text-2xl font-bold tracking-tight">
                            {{ currentDate | date : "dd/MM/yyyy" }}
                        </div>
                        <div class="text-secondary">
                            Revisado por: <strong>{{ user?.name }}</strong>
                        </div>
                    </div>
                    <!-- /DETAILS -->

                    <!-- DIAGNOSIS -->
                    <mat-form-field class="w-full">
                        <input matInput [required]="true" />
                        <mat-label>Diagnosis</mat-label>
                        <!-- <mat-error
                            *ngIf="supportForm.get('name').hasError('required')"
                        >
                            Required
                        </mat-error> -->
                    </mat-form-field>
                    <!-- DIAGNOSIS -->

                    <!-- PATIENT -->
                    <mat-form-field class="w-full">
                        <mat-label>Paciente</mat-label>
                        <mat-select
                            [required]="true"
                            (openedChange)="
                                patientsFilterControl.onClearFilter()
                            "
                        >
                            <select-filter
                                #patientsFilterControl
                                placeholderLabel="Buscar..."
                                (searchValueOutput)="onFilterPatients($event)"
                            ></select-filter>

                            <mat-option
                                disabled
                                *ngIf="!isLoadingPatients && !patients?.length"
                            >
                                No existen resultados
                            </mat-option>

                            <mat-option
                                *ngFor="let p of patients"
                                [value]="p?.id"
                            >
                                {{ p?.displayName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- /PATIENT -->

                    <!-- MEDICINES -->
                    <mat-form-field class="w-full">
                        <mat-label>Medicinas</mat-label>
                        <mat-select
                            [multiple]="true"
                            (openedChange)="
                                patientsFilterControl.onClearFilter()
                            "
                        >
                            <select-filter
                                #patientsFilterControl
                                placeholderLabel="Buscar..."
                                (searchValueOutput)="onFilterPatients($event)"
                            ></select-filter>

                            <mat-option
                                disabled
                                *ngIf="!isLoadingPatients && !patients?.length"
                            >
                                No existen resultados
                            </mat-option>

                            <mat-option
                                *ngFor="let p of patients"
                                [value]="p?.id"
                            >
                                {{ p?.displayName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- /MEDICINES -->

                    <!-- VACCINES -->
                    <mat-form-field class="w-full">
                        <mat-label>Vacunas</mat-label>
                        <mat-select
                            [multiple]="true"
                            (openedChange)="
                                patientsFilterControl.onClearFilter()
                            "
                        >
                            <select-filter
                                #patientsFilterControl
                                placeholderLabel="Buscar..."
                                (searchValueOutput)="onFilterPatients($event)"
                            ></select-filter>

                            <mat-option
                                disabled
                                *ngIf="!isLoadingPatients && !patients?.length"
                            >
                                No existen resultados
                            </mat-option>

                            <mat-option
                                *ngFor="let p of patients"
                                [value]="p?.id"
                            >
                                {{ p?.displayName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- /VACCINES -->

                    <!-- TREATMENT -->
                    <mat-form-field class="fuse-mat-textarea w-full">
                        <textarea
                            matInput
                            [rows]="5"
                            [required]="true"
                            matTextareaAutosize
                        ></textarea>
                        <mat-label>Descripción médica</mat-label>
                        <!-- <mat-error
                            *ngIf="
                                supportForm.get('message').hasError('required')
                            "
                        >
                            Required
                        </mat-error> -->
                    </mat-form-field>
                    <!-- /TREATMENT -->

                    <!-- NOTES -->
                    <mat-form-field class="w-full">
                        <input type="text" matInput [required]="true" />
                        <mat-label>Notas adicionales</mat-label>
                        <!-- <mat-error
                            *ngIf="
                                supportForm.get('email').hasError('required')
                            "
                        >
                            Required
                        </mat-error>
                        <mat-error
                            *ngIf="supportForm.get('email').hasError('email')"
                        >
                            Enter a valid email address
                        </mat-error> -->
                    </mat-form-field>
                    <!-- /NOTES -->

                    <!-- BUTTONS -->
                    <div class="flex items-center justify-end">
                        <button
                            class="ml-2"
                            mat-flat-button
                            [color]="'primary'"
                        >
                            Registrar cita
                        </button>
                    </div>
                    <!-- /BUTTONS -->
                </form>
            </div>
            <!-- /FORM -->
        </div>
    </div>
    <!-- /MAIN -->
</div>
