<h2 *ngIf="data" mat-dialog-title>Editar vacuncación</h2>
<h2 *ngIf="!data" mat-dialog-title>Datos de vacuncación</h2>

<form name="Form" [formGroup]="Form">
    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Vacuncación</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="Form.get('name').invalid && Form.get('name').touched">
            Este campo es requerido.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Dósis</mat-label>
        <input matInput formControlName="doseSchedule" />
        <mat-error
            *ngIf="
                Form.get('doseSchedule').invalid &&
                Form.get('doseSchedule').touched
            "
        >
            Este campo es requerido.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Manufactura</mat-label>
        <input matInput formControlName="manufacturer" />
        <mat-error
            *ngIf="
                Form.get('manufacturer').invalid &&
                Form.get('manufacturer').touched
            "
        >
            Este campo es requerido.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Descripción</mat-label>
        <textarea
            matInput
            [matTextareaAutosize]="true"
            formControlName="description"
        ></textarea>
        <mat-error
            *ngIf="
                Form.get('description').invalid &&
                Form.get('description').touched
            "
        >
            Este campo es requerido.
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="data" appearance="outline" floatLabel="always">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="isEnabled">
            <mat-option *ngFor="let state of states" [value]="state.value">{{
                state.key
            }}</mat-option>
        </mat-select>
        <mat-error
            *ngIf="
                Form.get('isEnabled').invalid && Form.get('isEnabled').touched
            "
        >
            Este campo es requerido.
        </mat-error>
    </mat-form-field>

    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onCancel()">Cancelar</button>
        <button
            *ngIf="!data"
            mat-flat-button
            [color]="'primary'"
            (click)="onCreateVaccine()"
            [disabled]="Form.invalid || Form.pristine"
        >
            Crear vacunación
        </button>
        <button
            *ngIf="data"
            mat-flat-button
            [color]="'primary'"
            (click)="onEditVaccine()"
            [disabled]="Form.invalid || Form.pristine"
        >
            Actualizar vacunación
        </button>
    </div>
</form>
